{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}{% if author.location %}<br>{{ author.location }}{% endif %}</p>{% endif %}
  </div>

  <ul class="author__links">
    {% if author.email %}<li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i><span>Email</span></a></li>{% endif %}
    <li><a href="{{ base_path }}/cv/"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i><span>Curriculum vitae</span></a></li>
    {% if author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank" rel="noopener"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a></li>{% endif %}
    {% if author.github %}<li><a href="https://github.com/{{ author.github }}" target="_blank" rel="noopener"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>{% endif %}
  </ul>
</div>
